Trash/
book/_build/
.*_html_file_collection
tmp_*.do.txt
*~~
~$*
*.dlog
book/*.md
src/*.md
ipynb-*-src.tar.gz
.DS_Store

vedlegg/
pub/Nederbragt - merittert underviser - Instituttleders anbefaling.pdf
